<app-page-title titleHeading='Ratings' titleDescription='Display beautiful ratings with custom icons, stars and colors.'></app-page-title>

<div class="row">
    <div class="col-xl-6">
        <app-example-wrapper-simple sectionHeading="Basic">
            <app-ratings-basic></app-ratings-basic>
        </app-example-wrapper-simple>
        <app-example-wrapper-simple sectionHeading="Custom icons example I">
            <app-ratings-custom-icons-one></app-ratings-custom-icons-one>
        </app-example-wrapper-simple>
        <app-example-wrapper-simple sectionHeading="Horizontal">
            <app-ratings-horizontal></app-ratings-horizontal>
        </app-example-wrapper-simple>
        <app-example-wrapper-simple sectionHeading="Horizontal alternate">
            <app-ratings-horizontal-alternate></app-ratings-horizontal-alternate>
        </app-example-wrapper-simple>
    </div>
    <div class="col-xl-6">
        <app-example-wrapper-simple sectionHeading="Custom icons example II">
            <app-ratings-custom-icons-two></app-ratings-custom-icons-two>
        </app-example-wrapper-simple>
        <app-example-wrapper-simple sectionHeading="Vertical">
            <app-ratings-vertical></app-ratings-vertical>
        </app-example-wrapper-simple>
        <app-example-wrapper-simple sectionHeading="Vertical alternate">
            <app-ratings-vertical-alternate></app-ratings-vertical-alternate>
        </app-example-wrapper-simple>
    </div>
</div>

