<app-page-title titleHeading='Datepicker' titleDescription='Build beautiful datepickers perfectly integrated in the general style of the application.'></app-page-title>

<div class="row">
    <div class="col-xl-6">
        <app-example-wrapper-simple sectionHeading="Basic">
            <app-forms-datepicker-basic></app-forms-datepicker-basic>
        </app-example-wrapper-simple>
    </div>
    <div class="col-xl-6">
        <app-example-wrapper-simple sectionHeading="Range selector">
            <app-forms-datepicker-range></app-forms-datepicker-range>
        </app-example-wrapper-simple>
    </div>
</div>

