<app-page-title titleHeading='Feature sections' titleDescription='Create feature boxes to present your options in style.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Feature section 1">
    <app-feature-sections-1></app-feature-sections-1>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Feature section 2">
    <app-feature-sections-2></app-feature-sections-2>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Feature section 3">
    <app-feature-sections-3></app-feature-sections-3>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Feature section 4">
    <app-feature-sections-4></app-feature-sections-4>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Feature section 5">
    <app-feature-sections-5></app-feature-sections-5>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Feature section 6">
    <app-feature-sections-6></app-feature-sections-6>
</app-example-wrapper-simple>

