<app-page-title titleHeading='Drag &amp; Drop' titleDescription='Enable draggable functionality on any DOM element. Move the draggable object by clicking on it with the mouse and dragging it anywhere within the viewport.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Basic">
    <app-drag-drop-basic></app-drag-drop-basic>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Lists">
    <app-drag-drop-lists></app-drag-drop-lists>
</app-example-wrapper-simple>

