<app-page-title titleHeading='Apex Charts' titleDescription='Wonderful animated charts built with ApexCharts components.'></app-page-title>

<div class="row">
    <div class="col-xl-6">
        <app-example-wrapper-simple sectionHeading="Area">
            <app-apex-charts-area></app-apex-charts-area>
        </app-example-wrapper-simple>
        <app-example-wrapper-simple sectionHeading="Column">
            <app-apex-charts-column></app-apex-charts-column>
        </app-example-wrapper-simple>
        <app-example-wrapper-simple sectionHeading="Line">
            <app-apex-charts-line></app-apex-charts-line>
        </app-example-wrapper-simple>
        <app-example-wrapper-simple sectionHeading="Radar">
            <app-apex-charts-radar></app-apex-charts-radar>
        </app-example-wrapper-simple>
    </div>
    <div class="col-xl-6">
        <app-example-wrapper-simple sectionHeading="Bar">
            <app-apex-charts-bar></app-apex-charts-bar>
        </app-example-wrapper-simple>
        <app-example-wrapper-simple sectionHeading="Heatmap">
            <app-apex-charts-heatmap></app-apex-charts-heatmap>
        </app-example-wrapper-simple>
        <app-example-wrapper-simple sectionHeading="Mixed">
            <app-apex-charts-mixed></app-apex-charts-mixed>
        </app-example-wrapper-simple>
        <app-example-wrapper-simple sectionHeading="Radial bar">
            <app-apex-charts-radialbar></app-apex-charts-radialbar>
        </app-example-wrapper-simple>
    </div>
</div>

