<app-page-title titleHeading='Partners sections' titleDescription='Maybe you want to show some of your partners. We&#39;ve got you covered.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Partners sections 1">
    <app-partners-sections-1></app-partners-sections-1>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Partners sections 2">
    <app-partners-sections-2></app-partners-sections-2>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Partners sections 3">
    <app-partners-sections-3></app-partners-sections-3>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Partners sections 4">
    <app-partners-sections-4></app-partners-sections-4>
</app-example-wrapper-simple>

