<app-page-title titleHeading='Slider' titleDescription='Create sliders and range sliders with these Angular form widgets.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Basic">
    <app-forms-slider-basic></app-forms-slider-basic>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Colors">
    <app-forms-slider-colors></app-forms-slider-colors>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Tooltips">
    <app-forms-slider-tooltips></app-forms-slider-tooltips>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Pips">
    <app-forms-slider-pips></app-forms-slider-pips>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Disabled">
    <app-forms-slider-disabled></app-forms-slider-disabled>
</app-example-wrapper-simple>

