<app-page-title titleHeading='Dropdowns' titleDescription='A drop-down list is a graphical control element, similar to a list box, that allows the user to choose one value from a list.'></app-page-title>

<div class="row">
    <div class="col-xl-6">
        <app-example-wrapper-simple sectionHeading="Basic">
            <app-dropdowns-basic></app-dropdowns-basic>
        </app-example-wrapper-simple>
    </div>
    <div class="col-xl-6">
        <app-example-wrapper-simple sectionHeading="Split">
            <app-dropdowns-split></app-dropdowns-split>
        </app-example-wrapper-simple>
    </div>
</div>

<app-example-wrapper-simple sectionHeading="Integrations examples">
    <app-dropdowns-integrations></app-dropdowns-integrations>
</app-example-wrapper-simple>

