<app-page-title titleHeading='Popovers' titleDescription='Add small overlay content, like those found in iOS, to any element for housing secondary information.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Basic">
    <app-popovers-basic></app-popovers-basic>
</app-example-wrapper-simple>

<app-example-wrapper-simple sectionHeading="Colors">
    <app-popovers-colors></app-popovers-colors>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Integrations examples">
    <app-popovers-integrations></app-popovers-integrations>
</app-example-wrapper-simple>

