<app-page-title titleHeading='Blog sections' titleDescription='Create blog pages and lists in style with these examples.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Blog sections 1">
    <app-blog-sections-1></app-blog-sections-1>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Blog sections 2">
    <app-blog-sections-2></app-blog-sections-2>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Blog sections 3">
    <app-blog-sections-3></app-blog-sections-3>
</app-example-wrapper-simple>
<app-example-wrapper-seamless sectionHeading="Blog sections 4">
    <app-blog-sections-4></app-blog-sections-4>
</app-example-wrapper-seamless>

