<app-page-title titleHeading='App Widgets' titleDescription='Examples of app snippets, like chat, file managers or tasks, that can be integrated in other elements, like card boxes.'></app-page-title>


<div class="row">
    <div class="col-md-12 col-xl-6">
        <app-applications-widgets-chat></app-applications-widgets-chat>
    </div>
    <div class="col-md-12 col-xl-6">
        <app-applications-widgets-timeline></app-applications-widgets-timeline>
    </div>
    <div class="col-md-12">
        <app-applications-widgets-files></app-applications-widgets-files>
    </div>
</div>

