<app-page-title titleHeading='Icon Boxes' titleDescription='These boxes can be used to pin point features &amp; highlights.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Icon boxes 1">
    <app-icon-boxes-1></app-icon-boxes-1>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Icon boxes 2">
    <app-icon-boxes-2></app-icon-boxes-2>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Icon boxes 3">
    <app-icon-boxes-3></app-icon-boxes-3>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Icon boxes 4">
    <app-icon-boxes-4></app-icon-boxes-4>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Icon boxes 5">
    <app-icon-boxes-5></app-icon-boxes-5>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Icon boxes 6">
    <app-icon-boxes-6></app-icon-boxes-6>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Icon boxes 7">
    <app-icon-boxes-7></app-icon-boxes-7>
</app-example-wrapper-simple>

