<app-page-title titleHeading='CRM Manager' titleDescription='If you&#39;re building a CRM, you can start by using this dashboard example.'></app-page-title>


<app-dashboard-crm-manager-section-1></app-dashboard-crm-manager-section-1>
<app-dashboard-crm-manager-section-2></app-dashboard-crm-manager-section-2>
<app-dashboard-crm-manager-section-3></app-dashboard-crm-manager-section-3>
<app-dashboard-crm-manager-section-4></app-dashboard-crm-manager-section-4>
<app-dashboard-crm-manager-section-5></app-dashboard-crm-manager-section-5>
<app-dashboard-crm-manager-section-6></app-dashboard-crm-manager-section-6>
<app-dashboard-crm-manager-section-7></app-dashboard-crm-manager-section-7>
<app-dashboard-crm-manager-section-8></app-dashboard-crm-manager-section-8>

<notifier-container></notifier-container>


