<app-page-title titleHeading='Testimonials sections' titleDescription='Create sections with testimonials and ratings starting from these examples.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Testimonials 1">
    <app-testimonials-sections-1></app-testimonials-sections-1>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Testimonials 2">
    <app-testimonials-sections-2></app-testimonials-sections-2>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Testimonials 3">
    <app-testimonials-sections-3></app-testimonials-sections-3>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Testimonials 4">
    <app-testimonials-sections-4></app-testimonials-sections-4>
</app-example-wrapper-simple>

