<app-page-title titleHeading='Ribbons' titleDescription='Symbols that can be used to add an extra touch to our Angular cards or elements.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Angled ribbons">
  <app-ribbons-angle></app-ribbons-angle>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Horizontal ribbons">
  <app-ribbons-horizontal></app-ribbons-horizontal>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Vertical ribbons">
  <app-ribbons-vertical></app-ribbons-vertical>
</app-example-wrapper-simple>

