<app-page-title titleHeading='Cryptocurrency' titleDescription='Crypto is the hot stuff right now. Here&#39;s a dashboard for it.'></app-page-title>


<app-dashboard-cryptocurrency-section-1></app-dashboard-cryptocurrency-section-1>
<app-dashboard-cryptocurrency-section-2></app-dashboard-cryptocurrency-section-2>
<app-dashboard-cryptocurrency-section-3></app-dashboard-cryptocurrency-section-3>
<app-dashboard-cryptocurrency-section-4></app-dashboard-cryptocurrency-section-4>
<app-dashboard-cryptocurrency-section-5></app-dashboard-cryptocurrency-section-5>
<app-dashboard-cryptocurrency-section-6></app-dashboard-cryptocurrency-section-6>
<app-dashboard-cryptocurrency-section-7></app-dashboard-cryptocurrency-section-7>


