<app-page-title titleHeading='Modal dialogs' titleDescription='Wide selection of modal dialogs styles and animations available.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Basic">
    <app-modals-basic></app-modals-basic>
</app-example-wrapper-simple>

<app-example-wrapper-simple sectionHeading="Borderless">
    <app-modals-borderless></app-modals-borderless>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Confirm modals">
    <app-modals-confirmation></app-modals-confirmation>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Colors">
    <app-modals-colors></app-modals-colors>
</app-example-wrapper-simple>

