<app-page-title titleHeading='Count Up' titleDescription='Add animations to your numbers. It&#39;ll make your next ArchitectUI app more user friendly.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Basic examples">
    <app-countup-basic></app-countup-basic>
</app-example-wrapper-simple>

<app-example-wrapper-seamless sectionHeading="Counter integration I">
    <app-countup-integration-one></app-countup-integration-one>
</app-example-wrapper-seamless>
<app-example-wrapper-seamless sectionHeading="Counter integration II">
    <app-countup-integration-two></app-countup-integration-two>
</app-example-wrapper-seamless>
<app-example-wrapper-seamless sectionHeading="Counter integration III">
    <app-countup-integration-three></app-countup-integration-three>
</app-example-wrapper-seamless>
<app-example-wrapper-seamless sectionHeading="Numbers alternate examples">
    <app-countup-numbers></app-countup-numbers>
</app-example-wrapper-seamless>

