<app-page-title titleHeading='Hero sections' titleDescription='Create stunning presentation website and hero sections with these examples.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Hero section 1">
    <app-hero-sections-1></app-hero-sections-1>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Hero section 2">
    <app-hero-sections-2></app-hero-sections-2>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Hero section 3">
    <app-hero-sections-3></app-hero-sections-3>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Hero section 4">
    <app-hero-sections-4></app-hero-sections-4>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Hero section 5">
    <app-hero-sections-5></app-hero-sections-5>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Hero section 6">
    <app-hero-sections-6></app-hero-sections-6>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Hero section 7">
    <app-hero-sections-7></app-hero-sections-7>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Hero section 8">
    <app-hero-sections-8></app-hero-sections-8>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Hero section 9">
    <app-hero-sections-9></app-hero-sections-9>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Hero section 10">
    <app-hero-sections-10></app-hero-sections-10>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Hero section 11">
    <app-hero-sections-11></app-hero-sections-11>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Hero section 12">
    <app-hero-sections-12></app-hero-sections-12>
</app-example-wrapper-simple>

