<app-page-title titleHeading='Timepicker' titleDescription='The timepicker component is a plugin that helps users easily input time entries.'></app-page-title>

<div class="row">
    <div class="col-xl-6">
        <app-example-wrapper-simple sectionHeading="Basic">
            <app-forms-timepicker-basic></app-forms-timepicker-basic>
        </app-example-wrapper-simple>
        <app-example-wrapper-simple sectionHeading="Custom steps">
            <app-forms-timepicker-custom-steps></app-forms-timepicker-custom-steps>
        </app-example-wrapper-simple>
        <app-example-wrapper-simple sectionHeading="Dynamic">
            <app-forms-timepicker-dynamic></app-forms-timepicker-dynamic>
        </app-example-wrapper-simple>
    </div>
    <div class="col-xl-6">
        <app-example-wrapper-simple sectionHeading="Mouse wheel">
            <app-forms-timepicker-mouse-wheel></app-forms-timepicker-mouse-wheel>
        </app-example-wrapper-simple>
        <app-example-wrapper-simple sectionHeading="Minutes & Seconds toggle">
            <app-forms-timepicker-toggle-minutes-seconds></app-forms-timepicker-toggle-minutes-seconds>
        </app-example-wrapper-simple>
    </div>
</div>


