<app-page-title titleHeading='Sparklines Charts' titleDescription='These components add tiny charts in various elements and components.'></app-page-title>

<app-example-wrapper-seamless sectionHeading="Sparklines examples 1">
  <app-sparklines-charts-apex></app-sparklines-charts-apex>
</app-example-wrapper-seamless>
<app-example-wrapper-seamless sectionHeading="Sparklines examples 2">
  <app-sparklines-charts-basic></app-sparklines-charts-basic>
</app-example-wrapper-seamless>
<app-example-wrapper-seamless sectionHeading="Sparklines examples 3">
  <app-sparklines-charts-gradients></app-sparklines-charts-gradients>
</app-example-wrapper-seamless>

