<app-page-title titleHeading='Notifications' titleDescription='Show beautiful, animated growl like notifications or alerts on your pages screens.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Basic alerts">
    <app-notifications-alerts-basic></app-notifications-alerts-basic>
</app-example-wrapper-simple>

<app-example-wrapper-simple sectionHeading="Alerts alternate style">
    <app-notifications-alerts-alternate-style></app-notifications-alerts-alternate-style>
</app-example-wrapper-simple>

<app-example-wrapper-simple sectionHeading="Alerts dismissible">
    <app-notifications-alerts-dismissible></app-notifications-alerts-dismissible>
</app-example-wrapper-simple>

<app-example-wrapper-simple sectionHeading="Sweetalerts">
    <app-notifications-sweetalerts></app-notifications-sweetalerts>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Toastr">
    <app-notifications-toastr></app-notifications-toastr>
</app-example-wrapper-simple>

<app-example-wrapper-simple sectionHeading="Toasts">
    <app-notifications-toasts></app-notifications-toasts>
</app-example-wrapper-simple>

