<app-page-title titleDescription='Dashboard example with lots of statistics cards.' titleHeading='Content Statistics'></app-page-title>


<app-dashboard-content-section-1></app-dashboard-content-section-1>
<app-dashboard-content-section-2></app-dashboard-content-section-2>
<app-dashboard-content-section-3></app-dashboard-content-section-3>
<app-dashboard-content-section-4></app-dashboard-content-section-4>
<app-dashboard-content-section-5></app-dashboard-content-section-5>
<app-dashboard-content-section-6></app-dashboard-content-section-6>
<app-dashboard-content-section-7></app-dashboard-content-section-7>


