<app-page-title titleHeading='List Groups' titleDescription='These can be used with other components and elements to create stunning and unique new elements for your UIs.'></app-page-title>
<app-example-wrapper-seamless sectionHeading="Basic">
    <app-list-groups-basic></app-list-groups-basic>
</app-example-wrapper-seamless>
<app-example-wrapper-seamless sectionHeading="Actions">
    <app-list-groups-actions></app-list-groups-actions>
</app-example-wrapper-seamless>
<app-example-wrapper-seamless sectionHeading="Examples variations I">
    <app-list-groups-variations-1></app-list-groups-variations-1>
</app-example-wrapper-seamless>
<app-example-wrapper-seamless sectionHeading="Examples variations II">
    <app-list-groups-variations-2></app-list-groups-variations-2>
</app-example-wrapper-seamless>
<app-example-wrapper-seamless sectionHeading="Examples variations III">
    <app-list-groups-variations-3></app-list-groups-variations-3>
</app-example-wrapper-seamless>
<app-example-wrapper-seamless sectionHeading="Examples variations IV">
    <app-list-groups-variations-4></app-list-groups-variations-4>
</app-example-wrapper-seamless>
<app-example-wrapper-seamless sectionHeading="Examples variations V">
    <app-list-groups-variations-5></app-list-groups-variations-5>
</app-example-wrapper-seamless>
<app-example-wrapper-seamless sectionHeading="Examples variations VI">
    <app-list-groups-variations-6></app-list-groups-variations-6>
</app-example-wrapper-seamless>
<app-example-wrapper-seamless sectionHeading="Examples variations VII">
    <app-list-groups-variations-7></app-list-groups-variations-7>
</app-example-wrapper-seamless>
<app-example-wrapper-seamless sectionHeading="Examples variations VIII">
    <app-list-groups-variations-8></app-list-groups-variations-8>
</app-example-wrapper-seamless>

