<app-page-title titleHeading='Loading Indicators' titleDescription='Use these loading indicators in combination with other elements to show current app status to users.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Basic">
    <app-loading-indicators-basic></app-loading-indicators-basic>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Block loading">
    <app-loading-indicators-block-loading></app-loading-indicators-block-loading>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Indicators colors">
    <app-loading-indicators-colors></app-loading-indicators-colors>
</app-example-wrapper-simple>
<app-example-wrapper-seamless sectionHeading="Skeleton loading">
    <app-loading-indicators-skeleton-loading></app-loading-indicators-skeleton-loading>
</app-example-wrapper-seamless>

