<app-page-title titleDescription='Dashboard page that could be used for a helpdesk niche application.' titleHeading='Helpdesk'></app-page-title>


<app-dashboard-helpdesk-section-1></app-dashboard-helpdesk-section-1>
<app-dashboard-helpdesk-section-2></app-dashboard-helpdesk-section-2>
<app-dashboard-helpdesk-section-3></app-dashboard-helpdesk-section-3>
<app-dashboard-helpdesk-section-4></app-dashboard-helpdesk-section-4>
<app-dashboard-helpdesk-section-5></app-dashboard-helpdesk-section-5>


