<app-page-title titleHeading='Cards examples 12' titleDescription='Wide selection of cards with multiple styles, borders, actions and hover effects.'></app-page-title>

<app-example-wrapper-seamless sectionHeading="Cards 75">
    <app-cards12-examples-75></app-cards12-examples-75>
</app-example-wrapper-seamless>
<app-example-wrapper-seamless sectionHeading="Cards 76">
    <app-cards12-examples-76></app-cards12-examples-76>
</app-example-wrapper-seamless>
<app-example-wrapper-seamless sectionHeading="Cards 77">
    <app-cards12-examples-77></app-cards12-examples-77>
</app-example-wrapper-seamless>
<app-example-wrapper-seamless sectionHeading="Cards 78">
    <app-cards12-examples-78></app-cards12-examples-78>
</app-example-wrapper-seamless>
<app-example-wrapper-seamless sectionHeading="Cards 79">
    <app-cards12-examples-79></app-cards12-examples-79>
</app-example-wrapper-seamless>

