<app-page-title titleHeading='Navigation menus' titleDescription='Navigation menus are one of the basic building blocks for any web or mobile app.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Grid menus">
    <app-navigation-menus-grid-alternate></app-navigation-menus-grid-alternate>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Grid navigation menus alternate">
    <app-navigation-menus-grid></app-navigation-menus-grid>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Grid menus bullets">
    <app-navigation-menus-grid-condensed></app-navigation-menus-grid-condensed>
</app-example-wrapper-simple>

<app-example-wrapper-simple sectionHeading="Vertical menus">
    <app-navigation-menus-vertical-basic></app-navigation-menus-vertical-basic>
</app-example-wrapper-simple>

<app-example-wrapper-simple sectionHeading="Vertical menus colors">
    <app-navigation-menus-vertical-colors></app-navigation-menus-vertical-colors>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Vertical menus alternate">
    <app-navigation-menus-vertical-alternate></app-navigation-menus-vertical-alternate>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Vertical menus large">
    <app-navigation-menus-vertical-alternate-large></app-navigation-menus-vertical-alternate-large>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Vertical menus with headers">
    <app-navigation-menus-vertical-headers></app-navigation-menus-vertical-headers>
</app-example-wrapper-simple>

<app-example-wrapper-simple sectionHeading="Horizontal menus">
    <app-navigation-menus-horizontal></app-navigation-menus-horizontal>
</app-example-wrapper-simple>

