<app-page-title titleHeading='Search Bars' titleDescription='Extended collection of multiple search bars variations.'></app-page-title>


<div class="row">
  <div class="col-lg-6 col-xl-3">
    <app-example-wrapper-simple sectionHeading="Basic">
      <app-search-bars-basic></app-search-bars-basic>
    </app-example-wrapper-simple>
  </div>
  <div class="col-lg-6 col-xl-4">
    <app-example-wrapper-simple sectionHeading="Grow">
      <app-search-bars-variation-one></app-search-bars-variation-one>
    </app-example-wrapper-simple>
  </div>
  <div class="col-lg-12 col-xl-5">
    <app-example-wrapper-simple sectionHeading="Search Options">
      <app-search-bars-variation-two></app-search-bars-variation-two>
    </app-example-wrapper-simple>
    <app-example-wrapper-simple sectionHeading="Expandable">
      <app-search-bars-variation-three></app-search-bars-variation-three>
    </app-example-wrapper-simple>
  </div>
</div>

