<app-page-title titleHeading='Icons' titleDescription='Wide icons selection including from flag icons to FontAwesome and other icons libraries.'></app-page-title>

<div class="row">
    <div class="col-xl-6">
        <div class="bg-premium-dark mb-5 rounded">
            <div class="pt-5 pb-4">
                <h4 class="heading-2 heading-2-demo pb-1 text-white">FontAwesome</h4>
                <p class="mb-3 px-4">Over 1500 pixel perfect icons available, each designed from scratch, forged from years of experience.</p>
                <div class="px-5">
                    <app-icons-fontawesome></app-icons-fontawesome>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="bg-plum-plate mb-5 rounded">
            <div class="pt-5 pb-4">
                <h4 class="heading-2 heading-2-demo pb-1 text-white">Feather</h4>
                <p class="mb-3 px-4">Over 280 SVG beautiful and simple vector icons. Dual-tone colors can be added using the helper classes.</p>
                <div class="px-5">
                    <app-icons-feather></app-icons-feather>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="bg-night-sky mb-5 rounded">
            <div class="pt-5 pb-4">
                <h4 class="heading-2 heading-2-demo pb-1 text-white">Flags</h4>
                <p class="mb-3 px-4">A collection of all country flags in SVG. Easy to modify and integrate in almost any other element type.</p>
                <div class="px-5">
                    <app-icons-flags></app-icons-flags>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="bg-slick-carbon mb-5 rounded">
            <div class="pt-5 pb-4">
                <h4 class="heading-2 heading-2-demo pb-1 text-white">Ion</h4>
                <p class="mb-3 px-4">Ionicons is a complete icon set with 700+ icons crafted for web, iOS, Android, and desktop apps.</p>
                <div class="px-5">
                    <app-icons-ion></app-icons-ion>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="bg-vicious-stance mb-5 rounded">
            <div class="pt-5 pb-4">
                <h4 class="heading-2 heading-2-demo pb-1 text-white">Pe7</h4>
                <p class="mb-3 px-4">Over 200 IOS inspired vector icons that can bea easily customized and adapted to multiple elements.</p>
                <div class="px-5">
                    <app-icons-pe7></app-icons-pe7>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="bg-midnight-bloom mb-5 rounded">
            <div class="pt-5 pb-4">
                <h4 class="heading-2 heading-2-demo pb-1 text-white">Socicons</h4>
                <p class="mb-3 px-4">Over 290 icons from various companies and logos ready to be used in your application.</p>
                <div class="px-5">
                    <app-icons-socicons></app-icons-socicons>
                </div>
            </div>
        </div>
    </div>
</div>

