<app-page-title titleHeading='Wizard' titleDescription='Easily create beautiful form multi step wizards or presentation steps.'></app-page-title>

<app-example-wrapper-seamless sectionHeading="Horizontal">
    <app-forms-wizard-horizontal></app-forms-wizard-horizontal>
</app-example-wrapper-seamless>
<app-example-wrapper-seamless sectionHeading="Vertical">
    <app-forms-wizard-vertical></app-forms-wizard-vertical>
</app-example-wrapper-seamless>
<app-example-wrapper-simple sectionHeading="Wizard alternate I">
    <app-forms-wizard-integration-one></app-forms-wizard-integration-one>
</app-example-wrapper-simple>
<app-example-wrapper-seamless sectionHeading="Wizard alternate II">
    <app-forms-wizard-integration-two></app-forms-wizard-integration-two>
</app-example-wrapper-seamless>

