<app-page-title titleHeading='Carousels' titleDescription='Create easy, simple to use and beautiful slideshows &amp; carousels with these components.'></app-page-title>

<app-example-wrapper-seamless sectionHeading="Slideshows">
    <app-carousels-slideshows></app-carousels-slideshows>
</app-example-wrapper-seamless>
<app-example-wrapper-simple sectionHeading="Full width carousel">
    <app-carousels-full-width></app-carousels-full-width>
</app-example-wrapper-simple>

<div class="row">
    <div class="col-xl-6">
        <app-example-wrapper-seamless sectionHeading="Integration example I">
            <app-carousels-integration-one></app-carousels-integration-one>
        </app-example-wrapper-seamless>
        <app-example-wrapper-seamless sectionHeading="Integration example II">
            <app-carousels-integration-two></app-carousels-integration-two>
        </app-example-wrapper-seamless>
    </div>
    <div class="col-xl-6">
        <app-example-wrapper-seamless sectionHeading="Integration example III">
            <app-carousels-integration-three></app-carousels-integration-three>
        </app-example-wrapper-seamless>
        <app-example-wrapper-simple sectionHeading="Integration example IV">
            <app-carousels-integration-four></app-carousels-integration-four>
        </app-example-wrapper-simple>
    </div>
</div>

<app-example-wrapper-simple sectionHeading="Basic carousel">
    <app-carousels-basic></app-carousels-basic>
</app-example-wrapper-simple>

