<app-page-title titleHeading='Input Select' titleDescription='Create fancy multi select dropdown menus for a better user experience.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Multi-select dropdowns">
    <app-forms-input-select-multiselect-dropdown></app-forms-input-select-multiselect-dropdown>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Single-select dropdowns">
    <app-forms-input-select-ng-select></app-forms-input-select-ng-select>
</app-example-wrapper-simple>

