<app-page-title titleHeading='Projects' titleDescription='Example dashboard built for a projects related niche application.'></app-page-title>


<app-dashboard-projects-section-1></app-dashboard-projects-section-1>
<app-dashboard-projects-section-2></app-dashboard-projects-section-2>
<app-dashboard-projects-section-3></app-dashboard-projects-section-3>
<app-dashboard-projects-section-4></app-dashboard-projects-section-4>
<app-dashboard-projects-section-5></app-dashboard-projects-section-5>
<app-dashboard-projects-section-6></app-dashboard-projects-section-6>
<app-dashboard-projects-section-7></app-dashboard-projects-section-7>
<app-dashboard-projects-section-8></app-dashboard-projects-section-8>


