<app-page-title titleHeading='Sales Management' titleDescription='Example of a Dashboard page built with this UI framework.'></app-page-title>


<app-dashboard-sales-section-1></app-dashboard-sales-section-1>
<app-dashboard-sales-section-2></app-dashboard-sales-section-2>
<app-dashboard-sales-section-3></app-dashboard-sales-section-3>
<app-dashboard-sales-section-4></app-dashboard-sales-section-4>
<app-dashboard-sales-section-5></app-dashboard-sales-section-5>
<app-dashboard-sales-section-6></app-dashboard-sales-section-6>
<app-dashboard-sales-section-7></app-dashboard-sales-section-7>
<app-dashboard-sales-section-8></app-dashboard-sales-section-8>
<app-dashboard-sales-section-9></app-dashboard-sales-section-9>


