<app-page-title titleDescription='This dashboard example was created using only the available elements and components, no additional styles were written!' titleHeading='Real Estate'></app-page-title>


<app-dashboard-real-estate-section-1></app-dashboard-real-estate-section-1>
<app-dashboard-real-estate-section-2></app-dashboard-real-estate-section-2>
<app-dashboard-real-estate-section-3></app-dashboard-real-estate-section-3>
<app-dashboard-real-estate-section-4></app-dashboard-real-estate-section-4>
<app-dashboard-real-estate-section-5></app-dashboard-real-estate-section-5>
<app-dashboard-real-estate-section-6></app-dashboard-real-estate-section-6>
<app-dashboard-real-estate-section-7></app-dashboard-real-estate-section-7>
<app-dashboard-real-estate-section-8></app-dashboard-real-estate-section-8>


