<app-page-title titleHeading='Pricing Tables' titleDescription='Multiple examples of pricing tables to suit all needs.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Pricing tables 1">
    <app-pricing-tables-1></app-pricing-tables-1>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Pricing tables 2">
    <app-pricing-tables-2></app-pricing-tables-2>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Pricing tables 3">
    <app-pricing-tables-3></app-pricing-tables-3>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Pricing tables 4">
    <app-pricing-tables-4></app-pricing-tables-4>
</app-example-wrapper-simple>

