<app-page-title titleHeading='Context Menus' titleDescription='A context menu is a popup menu that appears upon user interaction, such as a right-click mouse operation.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Basic examples">
    <app-context-menus-basic></app-context-menus-basic>
</app-example-wrapper-simple>
<app-example-wrapper-seamless sectionHeading="Alternate menu styles">
    <app-context-menus-alternate></app-context-menus-alternate>
</app-example-wrapper-seamless>

