<app-page-title titleHeading='Gauges Charts' titleDescription='Create wonderful animated gauges that can be used in combination with other UI elements.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Basic">
    <app-gauges-charts-basic></app-gauges-charts-basic>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Circle progress">
    <app-gauges-charts-circle-progress></app-gauges-charts-circle-progress>
</app-example-wrapper-simple>
<app-example-wrapper-seamless sectionHeading="Gauges examples I">
    <app-gauges-charts-integration-one></app-gauges-charts-integration-one>
</app-example-wrapper-seamless>
<app-example-wrapper-seamless sectionHeading="Gauges examples II">
    <app-gauges-charts-integration-two></app-gauges-charts-integration-two>
</app-example-wrapper-seamless>

