<app-page-title titleHeading='Call to action boxes' titleDescription='Bring that sale home, with these components you&#39;re one step closer.'></app-page-title>

<app-example-wrapper-seamless sectionHeading="Call to action 1">
    <app-cta-boxes-1></app-cta-boxes-1>
</app-example-wrapper-seamless>
<app-example-wrapper-seamless sectionHeading="Call to action 2">
    <app-cta-boxes-2></app-cta-boxes-2>
</app-example-wrapper-seamless>
<app-example-wrapper-seamless sectionHeading="Call to action 3">
    <app-cta-boxes-3></app-cta-boxes-3>
</app-example-wrapper-seamless>
<app-example-wrapper-seamless sectionHeading="Call to action 4">
    <app-cta-boxes-4></app-cta-boxes-4>
</app-example-wrapper-seamless>

