<app-page-title titleHeading='Tree View' titleDescription='Create stunning tree like views with this awesome Angular plugin.'></app-page-title>

<div class="row">
  <div class="col-xl-4">
    <app-example-wrapper-simple sectionHeading="Basic">
      <app-tree-view-basic></app-tree-view-basic>
    </app-example-wrapper-simple>
  </div>
  <div class="col-xl-4">
    <app-example-wrapper-simple sectionHeading="With checkboxes">
      <app-tree-view-checkbox></app-tree-view-checkbox>
    </app-example-wrapper-simple>
  </div>
  <div class="col-xl-4">
    <app-example-wrapper-simple sectionHeading="Drag & Drop functionality">
      <app-tree-view-drag-drop></app-tree-view-drag-drop>
    </app-example-wrapper-simple>
  </div>
</div>

<app-example-wrapper-simple sectionHeading="Tree grid">
  <app-tree-view-grid></app-tree-view-grid>
</app-example-wrapper-simple>

