<app-page-title titleHeading='Footer sections' titleDescription='Choose between multiple footer section styles.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Footer 1">
    <app-footer-sections-1></app-footer-sections-1>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Footer 2">
    <app-footer-sections-2></app-footer-sections-2>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Footer 3">
    <app-footer-sections-3></app-footer-sections-3>
</app-example-wrapper-simple>

