<app-page-title titleHeading='Pagination' titleDescription='Basic and dynamic pagination for use in your next awesome application.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Basic">
    <app-pagination-basic></app-pagination-basic>
</app-example-wrapper-simple>

<app-example-wrapper-simple sectionHeading="Colors">
    <app-pagination-colors></app-pagination-colors>
</app-example-wrapper-simple>

<app-example-wrapper-simple sectionHeading="Sizing">
    <app-pagination-sizing></app-pagination-sizing>
</app-example-wrapper-simple>

<app-example-wrapper-simple sectionHeading="NGX Pagination">
    <app-pagination-dynamic></app-pagination-dynamic>
</app-example-wrapper-simple>

