<app-page-title titleHeading='Timelines' titleDescription='Timelines are used to show lists of notifications, tasks or actions in a beautiful way.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Basic">
  <app-timelines-basic></app-timelines-basic>
</app-example-wrapper-simple>
<app-example-wrapper-seamless sectionHeading="Alternate">
  <app-timelines-basic-alternate></app-timelines-basic-alternate>
</app-example-wrapper-seamless>
<app-example-wrapper-simple sectionHeading="Colors">
  <app-timelines-colors></app-timelines-colors>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Icons">
  <app-timelines-icons></app-timelines-icons>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Vertical">
  <app-timelines-vertical></app-timelines-vertical>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Horizontal">
  <app-timelines-horizontal></app-timelines-horizontal>
</app-example-wrapper-simple>
<div class="divider my-4"></div>
<app-example-wrapper-simple sectionHeading="Horizontally centered">
  <app-timelines-horizontal-center></app-timelines-horizontal-center>
</app-example-wrapper-simple>

