<app-page-title titleDescription='This is an example dashboard created using build-in elements and components.' titleHeading='Analytics'></app-page-title>

<app-dashboard-analytics-section-1></app-dashboard-analytics-section-1>
<app-dashboard-analytics-section-2></app-dashboard-analytics-section-2>
<app-dashboard-analytics-section-3></app-dashboard-analytics-section-3>
<app-dashboard-analytics-section-4></app-dashboard-analytics-section-4>
<app-dashboard-analytics-section-5></app-dashboard-analytics-section-5>
<app-dashboard-analytics-section-6></app-dashboard-analytics-section-6>
<app-dashboard-analytics-section-7></app-dashboard-analytics-section-7>
<app-dashboard-analytics-section-8></app-dashboard-analytics-section-8>


