<app-page-title titleHeading='Progress Bars' titleDescription='You can use the progress bars on their own or in combination with other widgets.'></app-page-title>

<div class="row">
    <div class="col-xl-6">
        <app-example-wrapper-simple sectionHeading="Dynamic circles I">
            <app-progress-bars-dynamic-circles></app-progress-bars-dynamic-circles>
        </app-example-wrapper-simple>
    </div>
    <div class="col-xl-6">
        <app-example-wrapper-simple sectionHeading="Dynamic circles II">
            <app-progress-bars-dynamic-circles-variations2></app-progress-bars-dynamic-circles-variations2>
        </app-example-wrapper-simple>
    </div>
</div>
<app-example-wrapper-simple sectionHeading="Dynamic circles III">
    <app-progress-bars-dynamic-circles-variations></app-progress-bars-dynamic-circles-variations>
</app-example-wrapper-simple>

<div class="row">
    <div class="col-xl-6">
        <app-example-wrapper-simple sectionHeading="Basic">
            <app-progress-bars-basic></app-progress-bars-basic>
        </app-example-wrapper-simple>
        <app-example-wrapper-simple sectionHeading="Labels">
            <app-progress-bars-labels></app-progress-bars-labels>
        </app-example-wrapper-simple>
        <app-example-wrapper-simple sectionHeading="Animated">
            <app-progress-bars-animated></app-progress-bars-animated>
        </app-example-wrapper-simple>
        <app-example-wrapper-simple sectionHeading="Multiple">
            <app-progress-bars-multiple></app-progress-bars-multiple>
        </app-example-wrapper-simple>
    </div>
    <div class="col-xl-6">
        <app-example-wrapper-simple sectionHeading="Rounded">
            <app-progress-bars-rounded></app-progress-bars-rounded>
        </app-example-wrapper-simple>
        <app-example-wrapper-simple sectionHeading="Colors">
            <app-progress-bars-colors></app-progress-bars-colors>
        </app-example-wrapper-simple>

        <app-example-wrapper-simple sectionHeading="Dynamic colors">
            <app-progress-bars-dynamic-colors></app-progress-bars-dynamic-colors>
        </app-example-wrapper-simple>

    </div>
</div>

