<app-page-title titleHeading='Tabs' titleDescription='Tabs are used to split content between multiple sections. Wide variety available.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Animated">
  <app-tabs-animated></app-tabs-animated>
</app-example-wrapper-simple>
<app-example-wrapper-seamless sectionHeading="Alternate">
  <app-tabs-animated-alternate></app-tabs-animated-alternate>
</app-example-wrapper-seamless>

<app-example-wrapper-simple sectionHeading="Basic tabs">
  <app-tabs-basic></app-tabs-basic>
</app-example-wrapper-simple>

<app-example-wrapper-simple sectionHeading="Colors">
  <app-tabs-colors></app-tabs-colors>
</app-example-wrapper-simple>
<app-example-wrapper-seamless sectionHeading="Headers with tabs">
  <app-tabs-header></app-tabs-header>
</app-example-wrapper-seamless>

