<app-page-title titleHeading='Scrollable' titleDescription='Add scrolling areas to any elements with custom scrollbars or default browser ones.'></app-page-title>

<div class="row">
  <div class="col-xl-6">
    <app-example-wrapper-simple sectionHeading="Scrollable menus with headers">
      <app-scrollable-integration-three></app-scrollable-integration-three>
    </app-example-wrapper-simple>
    <app-example-wrapper-simple sectionHeading="Scrollable chat boxes">
      <app-scrollable-integration-two></app-scrollable-integration-two>
    </app-example-wrapper-simple>
    <app-example-wrapper-simple sectionHeading="Infinite Scroll">
      <app-scrollable-infinite-scroll></app-scrollable-infinite-scroll>
    </app-example-wrapper-simple>
  </div>
  <div class="col-xl-6">
    <app-example-wrapper-simple sectionHeading="Scrollable timelines">
      <app-scrollable-integration-one></app-scrollable-integration-one>
    </app-example-wrapper-simple>
    <app-example-wrapper-simple sectionHeading="Scrollable navigations">
      <app-scrollable-integration-four></app-scrollable-integration-four>
    </app-example-wrapper-simple>
    <app-example-wrapper-simple sectionHeading="Scrollable progress lists">
      <app-scrollable-integration-five></app-scrollable-integration-five>
    </app-example-wrapper-simple>
  </div>
</div>

<app-example-wrapper-simple sectionHeading="Custom scrollbars & Sizing">
  <app-scrollable-basic></app-scrollable-basic>
</app-example-wrapper-simple>

