<app-page-title titleHeading='Tooltips' titleDescription='The tooltip or infotip or a hint is a common graphical user interface element.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Basic">
  <app-tooltips-basic></app-tooltips-basic>
</app-example-wrapper-simple>

<app-example-wrapper-simple sectionHeading="Colors">
  <app-tooltips-colors></app-tooltips-colors>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Integrations examples">
  <app-tooltips-integrations></app-tooltips-integrations>
</app-example-wrapper-simple>

