<app-page-title titleHeading='Toggle Switch' titleDescription='Instead of regular checkboxes, use these toggle widgets for a better UX'></app-page-title>

<app-example-wrapper-simple sectionHeading="Basic">
    <app-forms-toggle-switch-basic></app-forms-toggle-switch-basic>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Alternate style">
    <app-forms-toggle-switch-alterante></app-forms-toggle-switch-alterante>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Colors">
    <app-forms-toggle-switch-colors></app-forms-toggle-switch-colors>
</app-example-wrapper-simple>

