<app-page-title titleHeading='ChartJS' titleDescription='Huge selection of charts created with the ChartJS Plugin.'></app-page-title>

<div class="row">
    <div class="col-xl-6">
        <app-example-wrapper-simple sectionHeading="Bar">
            <app-chartjs-charts-bar></app-chartjs-charts-bar>
        </app-example-wrapper-simple>
        <app-example-wrapper-simple sectionHeading="Polar">
            <app-chartjs-charts-polar></app-chartjs-charts-polar>
        </app-example-wrapper-simple>
        <app-example-wrapper-simple sectionHeading="Radar">
            <app-chartjs-charts-radar></app-chartjs-charts-radar>
        </app-example-wrapper-simple>
    </div>
    <div class="col-xl-6">
        <app-example-wrapper-simple sectionHeading="Doughnut">
            <app-chartjs-charts-doughnut></app-chartjs-charts-doughnut>
        </app-example-wrapper-simple>
        <app-example-wrapper-simple sectionHeading="Dynamic">
            <app-chartjs-charts-dynamic></app-chartjs-charts-dynamic>
        </app-example-wrapper-simple>
        <app-example-wrapper-simple sectionHeading="Line">
            <app-chartjs-charts-line></app-chartjs-charts-line>
        </app-example-wrapper-simple>
    </div>
</div>

