<app-page-title titleHeading='Typeahead' titleDescription='Create beautiful suggestion inputs for Angular form elements.'></app-page-title>

<div class="row">
    <div class="col-xl-6">
        <app-example-wrapper-simple sectionHeading="Basic">
            <app-forms-typeahead-basic></app-forms-typeahead-basic>
        </app-example-wrapper-simple>
        <app-example-wrapper-simple sectionHeading="Item templates">
            <app-forms-typeahead-item-template></app-forms-typeahead-item-template>
        </app-example-wrapper-simple>
    </div>
    <div class="col-xl-6">
        <app-example-wrapper-simple sectionHeading="Grouping">
            <app-forms-typeahead-grouping></app-forms-typeahead-grouping>
        </app-example-wrapper-simple>
        <app-example-wrapper-simple sectionHeading="Scrollable">
            <app-forms-typeahead-scrollable></app-forms-typeahead-scrollable>
        </app-example-wrapper-simple>
    </div>
</div>

