<app-page-title titleHeading='Header sections' titleDescription='Integrate any of these headers in your presentation layouts.'></app-page-title>

<app-example-wrapper-simple sectionHeading="Headers 1">
    <app-header-sections-1></app-header-sections-1>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Headers 2">
    <app-header-sections-2></app-header-sections-2>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Headers 3">
    <app-header-sections-3></app-header-sections-3>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Headers 4">
    <app-header-sections-4></app-header-sections-4>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Headers 5">
    <app-header-sections-5></app-header-sections-5>
</app-example-wrapper-simple>
<app-example-wrapper-simple sectionHeading="Headers 6">
    <app-header-sections-6></app-header-sections-6>
</app-example-wrapper-simple>

